body{
	font-family: 'lato', sans-serif;
	background-color:#F2C078;
	font-size:20px;

}

.alert-danger {
	display:none;
}

#q2,#q3,#q4, #loading, .results {
	display:none;
}

.site-footer {
	padding-top:50px;
}

#content{
	padding-top:50px;

}

.logged-in #content {
	padding-top:0;
}

.logged-in nav {
	padding-top:32px;
}

.lead-banner {
	background-image: url('img/banner.jpg');
	background-size: cover;
	min-height:500px;
	max-height:800px;
	background-position: bottom;
}

.banner-text {
	margin-top:130px;
}

.logo-font {
	font-family:Pacifico, sans-serif;
}

.banner-text h1 {
	font-size:100px;
	padding-bottom: 35px;
}

.highlight-light {
	color:#F9F9F9;
}

.subtitle {
	font-size:20px;
	margin-bottom:50px;
}

#bs-example-navbar-collapse-1 {
	background-color:#FAEDCA;/*C1DBB3;*/
}

#primary {
	background-color:white;/*#FAEDCA;*/
	padding-top:50px;
	padding-bottom:80px;
}

#colophon {
	background-color:#F2C078;
	padding-bottom:80px;
}

.list-no-bullets {
	list-style-type:none;
	margin-left: 0;
	padding-left:0;
}

#tempSlider .slider-track-low {
	background:#3A65FF;
}

#tempSlider .slider-selection {
	background: #56A356;
}

#tempSlider .slider-track-high {
	background:#FF6156;
}

.remove-item {
	float: right;
}